@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/OpenSans-Regular.woff') format("woff"),
       url('../fonts/OpenSans-Regular.woff2') format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/OpenSans-Bold.woff') format("woff"),
       url('../fonts/OpenSans-Bold.woff2') format("woff2");
  font-display: swap;
}

/* Global */

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  color: #0f0d0e;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

img, source {
  display: block;
  max-width: 100%;
  height: auto;
}

input, button, textarea, select {
  font-family: inherit;
}

input::placeholder,
textarea::placeholder {
  font-size: 13px;
  opacity: 0.5;
}

button {
  cursor: pointer;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  width: 100%;
  min-height: 48px;
  padding: 12px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #b59f5b;
}

.button:hover {
  background-color: #323232;
}

.button:focus {
  outline-color: #323232;
}

.section-title {
  position: relative;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.section-title::after {
  content: '';
  display: block;
  margin: 11px auto 0;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  opacity: 0.4;
}

.article-title {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
}

.article-link:hover {
  color: #b59f5b;
}

.tags-text {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #b59f5b;
}

.tags-text:hover {
  text-decoration: underline;
}


/* Header */

.header {
  position: relative;
  margin-bottom: 56px;
  padding-top: 27px;
  padding-bottom: 140px;
  background-image: url('../images/banner-bg.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-color: #525252;
}

.header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.header-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.header-ligo-pict {
  width: 180px;
}

.header-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 760px;
}

.header-item {
  margin-right: 35px;
}

.header-item:last-child {
  margin-right: 0;
}

.header-link {
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
}

.header-link:hover {
  text-decoration: underline;
}

.header-title {
  position: relative;
  width: 100%;
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 105px;
  font-weight: 700;
  font-size: 45px;
  line-height: 1.6;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  z-index: 2;
}


/* Burger */

.header-burger {
  position: absolute;
  display: none;
  top: 30px;
  right: 16px;
}

.burger-line {
  position: relative;
  display: block;
  width: 24px;
  height: 20px;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  z-index: 3;
}

.burger-line::before {
  content: '';
  position: absolute;
  width: 100%;
  top: 6px;
  left: 0;
  border-top: 3px solid #fff;
}


/* Trend */

.trend {
  margin-bottom: 62px;
}

.trend-title {
  margin-bottom: 24px;
}

.trend-list {
  display: flex;
  gap: 5px;
}

.trend-item {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 25%;
  min-height: 319px;
  padding: 20px 20px 15px 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

.trend-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.trend-item-garden {
  background-image: url('../images/trend1.jpg');
}

.trend-item-food {
  background-image: url('../images/trend2.jpg');
}

.trend-item-travel {
  background-image: url('../images/trend3.jpg');
}

.trend-item-health {
  background-image: url('../images/trend4.jpg');
}

.trend-content {
  position: relative;
  width: 100%;
  padding: 30px 36px 30px;
  border: 3px solid #b59f5b;
  z-index: 2;
}

.trend-content-title {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.trend-tags-group {
  display: flex;
  margin-bottom: 10px;
}

.trend-tags-item:not(:last-child) {
  margin-right: 10px;
}

/* Main */

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 6rem;
}

.posts {
  width: 66.5%;
}

.article {
  display: flex;
  align-items: flex-start;
  margin-bottom: 6rem;
}

.article:last-child {
  margin-bottom: 0;
}

.article-pict {
  width: calc(53% - 30px);
  margin-right: 30px;
}

.article-img {
  object-fit: cover;
}

.article-list {
  width: 47%;
}

.article-tags {
  display: flex;
  margin-bottom: 8px;
}

.article-tags-item:not(:last-child) {
  margin-right: 17px;
}

.article-tags-text {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #b59f5b;
}

.post-title {
  margin-bottom: 28px;
}

.article-item {
  margin-bottom: 44px;
}

.article-date {
  display: inline-block;
  margin-right: 8px;
  color: #888888;
}

.article-author {
  font-weight: 700;
}

.article-text {
  font-size: 15px;
  line-height: 1.45;
}

.article-text p:not(:last-child) {
  margin-bottom: 8px;
}


/* Aside */

.sidebar {
  width: 272px;
}

.sidebar-section:not(:last-child) {
  margin-bottom: 60px;
}

.sidebar-title {
  position: relative;
  margin-bottom: 22px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.sidebar-title::after {
  content: '';
  display: block;
  margin: 11px auto 0;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  opacity: 0.4;
}

.newposts-list {
  display: flex;
  align-items: flex-start;
  margin-bottom: 22px;
}

.newposts-pict {
  max-width: 70px;
}

.newpost-content {
  margin-left: 20px;
}

.newposts-date {
  display: inline-block;
  opacity: 0.55;
}

.newpost-title {
  font-size: 14px;
  line-height: 1.3;
  font-weight: 700;
  text-transform: uppercase;
}

.newpost-title:hover {
  color: #b59f5b;
}

.search-form {
  display: flex;
  width: 100%;
  margin-top: 60px;
}

.search-form-field {
  flex-grow: 1;
}

.search-form-field,
.email-form-field {
  height: 48px;
  padding: 12px 18px;
  background-color: #f4f7f6;
}

.search-form-field:focus,
.email-form-field:focus,
.feedback-select:focus,
.radio:focus + .radio-group::before,
.feedback-textarea:focus {
  outline: 1px solid #b59f5b;
}

.search-button {
  min-width: 48px;
  max-width: 48px;
  height: 48px;
  background-image: url('../svg/search.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #b59f5b;
  background-size: 18px;
}

.email-form-field {
  width: 100%;
  margin-bottom: 18px;
}

.subcsribe-section {
  margin-bottom: 56px;
}

.tags-section {
  margin-bottom: 54px;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.tags-item {
  display: inline-block;
  padding: 4px 13px;
  border: 3px solid #eeeeee;
  text-align: center;
}

.tags-link {
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
}

.tags-item:hover {
  border: 3px solid #b59f5b;
}

.themes-item {
  display: flex;
  margin-bottom: 13px;
  padding-bottom: 14px;
  border-bottom: 1px solid #eeeeee;
}

.themes-item:last-child {
  margin-bottom: 0;
}

.themes-link {
  display: block;
  margin-right: 8px;
  font-size: 14px;
  font-weight: 700;
}

.themes-link:hover {
  color: #b59f5b;
}

.themes-text {
  font-weight: 700;
  font-size: 12px;
  color: #b59f5b;
  vertical-align: super;
}


/* Shopping */

.shopping {
  margin-bottom: 65px;
}

.shopping-title {
  margin-bottom: 30px;
}

.shopping-list {
  display: flex;
  justify-content: space-between;
  row-gap: 30px;
}

.shopping-item {
  display: flex;
  flex-direction: column;
  width: calc(33.33% - 44px);
}

.image-wrapper {
  display: flex;
  justify-content: center;
  padding: 0 20px;
  min-height: 204px;
}

.shopping-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: -34px;
  padding: 48px 20px 24px;
  border: 3px solid #b59f5b;
}

.shopping-subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
}

.shopping-text {
  margin-bottom: 22px;
  font-size: 15px;
  line-height: 22px;
}

.shopping-link {
  color: #b59f5b;
}

.shopping-link:hover {
  text-decoration: underline;
}

.product-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: auto;
}

.product-price {
  display: flex;
  flex-direction: column;
}

.product-price-old {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-decoration: line-through;
}

.product-price-new {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
}

.shopping-button {
  width: 140px;
  padding: 15px;
  text-align: center;
}


/* Footer */

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 66px;
  padding: 32px 15px;
  background-color: #f4f7f6;
}

.footer-item:not(:last-child) {
  margin-right: 28px;
}

.footer-link {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: center/20px no-repeat;
}

.footer-link-dribbble {
  background-image: url('../svg/001-dribbble.svg');
}

.footer-link-pinterest {
  background-image: url('../svg/002-pinterest.svg');
}

.footer-link-tumblr {
  background-image: url('../svg/003-tumblr.svg');
}

.footer-copyright {
  margin-bottom: 40px;
  text-align: center;
}

.footer-copyright-text {
  font-weight: 700;
  color: #999999;
}


/* Popup */

.popup-item  {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

.hidden {
  display: none;
}

.popup-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 390px;
  padding: 50px 30px;
  background-color: #ffffff;
  z-index: 1;
}

.popup-close {
  position: absolute;
  top: -25px;
  right: 0;
  width: 18px;
  height: 18px;
  background-image: url('../svg/form-x.svg');
}

.feedback-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}

.feedback-label {
  font-size: 13px;
  margin-bottom: 10px;
}

.feedback-select {
  display: inline-block;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 18px;
  font-size: 13px;
  opacity: 0.5;
  background-image: url('../svg/form-arrows.svg');
  background-position: center right 18px;
  background-repeat: no-repeat;
  background-size: 10px 18px;
  background-color: #f4f7f6;
  outline: none;
}

.feedback-radio-group {
  margin-bottom: 30px;
}

.radio {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}

.radio-group {
  font-size: 13px;
  margin-right: 15px;
}

.radio-group::before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  background: url('../svg/form-empty-circle.svg') center/18px no-repeat;
  vertical-align: middle;
}

.radio:checked + .radio-group::before {
  background-image: url('../svg/form-circle.svg');
}

.radio:focus + .radio-group::before {
  outline-offset: 2px;
}

.feedback-textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 130px;
  padding: 18px;
  background: #f4f7f6;
  outline: none;
}

.feedback-textarea::-webkit-resizer {
  display: none;
}

/* --- Media --- */

@media (max-width: 1199px) {

  .header-list {
    display: none;
  }

  .header-burger {
    display: block;
  }

  .article {
    padding-bottom: 16px;
    border-bottom: 3px solid #eeeeee;
  }

  .shopping-title {
    margin-bottom: 28px;
  }

  .shopping-subtitle {
    font-size: 17px;
    line-height: 1.3;
  }
}

@media (min-width: 641px) and (max-width: 1199px) {
  html {
    font-size: 53%;
  }

  .container {
    padding-left: 35px;
    padding-right: 35px;
  }

  .header {
    margin-bottom: 45px;
    padding-top: 43px;
    padding-bottom: 120px;
    background-image: url('../images/banner-bg-tablet.jpg');
    background-position: bottom center;
  }

  .header-logo {
    width: 159px;
  }

  .header-title {
    margin-top: 90px;
    font-size: 40px;
    line-height: 55px;
  }

  .header-burger {
    top: 52px;
    right: 34px;
  }

  .trend {
    margin-bottom: 45px;
  }

  .trend-title {
    font-size: 18px;
    margin-bottom: 16px;
  }

  .trend-list {
    flex-wrap: wrap;
    gap: 2px 3px;
  }

  .trend-item {
    width: calc(50% - 1.5px);
    min-height: 249px;
  }

  .trend-content {
    padding-left: 30px;
    padding-bottom: 36px;
  }

  .content {
    width: 100%;
    max-width: 736px;
    margin-right: auto;
    margin-left: auto;
  }

  .posts {
    width: 56%;
    margin-right: 35px;
  }

  .article {
    flex-direction: column;
    margin-bottom: 42px;
  }

  .article:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }

  .article-pict {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .article-img {
    width: 100%;
    max-width: 391px;
    object-fit: cover;
  }

  .article-list {
    width: 100%;
  }

  .post-title {
    margin-bottom: 34px;
  }

  .article-item {
    margin-bottom: 30px;
  }

  .shopping {
    margin-bottom: 48px;
  }

  .shopping-list {
    flex-wrap: wrap;
    column-gap: 24px;
  }

  .shopping-item {
    width: calc(50% - 12px);
  }

  .image-wrapper {
    min-height: 227px;
  }

  .footer-menu {
    margin-bottom: 42px;
  }

  .popup-close {
    top: -36px;
    width: 28px;
    height: 28px;
  }
}

@media (min-width: 641px) and (max-width: 1199px) and (orientation: landscape) {

  .trend-item {
    width: calc(25% - 2.25px);
  }

  .trend-content {
    padding: 20px;
  }
}

@media (max-width: 640px) {

  html {
    font-size: 50%;
  }

  .header {
    display: flex;
    align-items: center;
    height: 100vh;
    margin-bottom: 37px;
    padding-top: 30px;
    padding-bottom: 46px;
    background-image: url(../images/banner-mobile.jpg);
    background-position: center bottom;
  }

  .header-logo {
    margin-right: auto;
    margin-left: auto;
  }

  .header-ligo-pict {
    width: 270px;
  }

  .header-title {
    max-width: 280px;
    margin-top: 32px;
    font-size: 26px;
    line-height: 1.4;
  }

  .trend {
    margin-bottom: 40px;
  }

  .trend-list {
    flex-direction: column;
    gap: 3px;
  }

  .trend-item {
    width: 100%;
    min-height: 231px;
    padding: 15px;
  }

  .trend-content {
    padding-left: 20px;
    padding-right: 20px;
  }

  .content {
    display: block;
    margin-bottom: 38px;
  }

  .posts {
    width: 100%;
  }

  .article {
    flex-direction: column;
    width: 100%;
    margin-bottom: 34px;
  }

  .article:last-child {
    margin-bottom: 36px;
  }

  .article-pict {
    width: 100%;
    margin-right: 0;
    margin-bottom: 12px;
  }

  .article-img {
    width: 100%;
  }

  .article-list {
    width: 100%;
  }

  .post-title {
    margin-bottom: 20px;
  }

  .article-item {
    margin-bottom: 11px;
  }

  .article-text {
    font-size: 14px;
    line-height: 1.5;
  }

  .article-text p:not(:last-child) {
    margin-bottom: 4px;
  }

  .sidebar {
    width: 100%;
  }

  .sidebar-section:not(:last-child) {
    margin-bottom: 42px;
  }

  .sidebar-title {
    font-size: 16px;
  }

  .subcsribe-section {
    margin-bottom: 38px;
  }

  .tags-section {
    margin-bottom: 38px;
  }

  .shopping {
    margin-bottom: 42px;
  }

  .shopping-list {
    flex-direction: column;
    row-gap: 25px;
  }

  .shopping-content {
    padding-top: 48px;
  }

  .shopping-item {
    width: 100%;
    max-width: 381px;
    margin: 0 auto;
  }

  .image-wrapper {
    min-height: 285px;
  }

  .footer-menu {
    margin-bottom: 40px;
  }

  .popup-content {
    width: 330px;
    padding: 30px;
  }
}

@media (max-width: 926px) and (orientation: landscape) {

  .trend-list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .trend-item {
    width: calc(50% - 1.5px);
  }

}

